* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


html, body {
  min-height: 100vh;
  overflow-y: hidden; 
}

html, body {
  min-height: 100vh;
  overflow-y: auto;
  font-size: 16px;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #151515;
  color: bisque;
  padding: 20px;
}

input, button {
  background-color: rgb(184, 182, 182);
  padding: 10px;
  font-size: 1rem;
  border-radius: 10px;
  border: none;
}

#result {
  margin-top: 20px;
  font-weight: bold;
  font-size: 18px;
}
